* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.image-grid,
.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  place-items: center;
}

.vote-grid {
  display: grid;
  place-items: center;
}

.image-grid > img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cat-breed {
  font-size: 50px;
}
.cat-card,
.favorite-card,
.voting-card {
  margin: 10px;
  padding: 10px;
  text-align: center; 
  width: 300px; 
}

.cat-card img,
.favorite-card img,
.voting-card img {
  max-width: 100%; 
  height: auto;
}

.cat-card button,
.favorite-card button,
.voting-card button {
  width: 100%; 
  padding: 10px 0; 
  margin-top: 10px; 
  cursor: pointer;
  border: none;
}

.cat-card button:hover,
.favorite-card button:hover,
.voting-card button:hover {
  background-color: #0080b3;
}

.liked {
  border: 2px solid green;
}

.disliked {
  border: 2px solid red;
}